<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HospitalService</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div class="title" id="content">
        <div class="hospitaltitle" v-for="d in datas">
            <h1>{{d.科別}}({{d.診別}})</h1>
            <div class="name">
                <div class="name-box">
                    <h5>醫師</h5>
                    <div>
                        <img src="./img/Stethoscope.png" alt="icon">
                        <h3>{{d.醫師名}}</h3>
                    </div>
                </div>
                <div class="name-box">
                    <h5>護理師</h5>
                    <div>
                        <img src="./img/Injection.png" alt="icon">
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="number">
        <!-- 這邊定位目前號碼與下一張 -->
        <div class="prev">目<br>前<br>號<br>碼</div>
        <div class="next">下一號</div>
        <div class="numer-box">
            <p>3</p>
        </div>
        <div class="numer-box"></div>
    </div>
    <div class="table" id="data-box">
        <!-- 候診名單定位在這邊 -->
        <div class="next-name">候<br>診<br>名<br>單</div>
        <div class="table-title">
            <p>看診號</p>
            <p>病人姓名</p>
            <p>看診狀態</p>
        </div>
        <div class="table-data">
            <div class="data-box" v-for="d in datas" v-if="d.看診號 <=10">
                <p>{{d.看診號}}</p>
                <p>{{d.患者姓名}}</p>
                <p>{{d.目前狀態}}</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./main.js"></script>
</body>

</html>